@import url('fonts.css');
@import url('font-awesome.all.min.css');
:root{
    --anoter_bg_color:#333333;
    --primari-color: #ff8b38;
    --white-color:#ffffff
}
*{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
}

body{
    color: #86878b;
}
h2{
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    color: #212121;
    text-align: center;
}
h3{
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
h2::after{
    content: '';
    display: block;
    height: 2px;
    width: 64px;
    background-color: #ff8b38;
    margin: 22px auto 24px;
}
h2.__white{
    text-align: center;
    color: #ffffff;

}
h2.__white::after{
    background-color: #ffffff;
    margin: 22px auto 29px;
}

input,textarea,button{
    outline: none;
}
input,textarea{
    padding: 10px 12px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}
textarea{
    line-height: 1.4;
    resize: none;
}
button{
    border: none;
    background-color: transparent;
}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 2px solid #ff9b51;
    background-color: #ff9b51;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    min-width: 135px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 2px 2px #d6d6d6;
}
.button._outline{
    background-color: transparent;
    border-radius: 0;
    border-color: #ffffff;
    box-shadow: none;
}

._text-center{
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;
}
.cell{
    padding: 0 20px;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 110px 0;
}
._indent{
    margin-bottom: 80px;
}
._icon{
    display: none;
}
.icon{
    width: 1em;
    height: 1em;
    fill: currentColor;
    color: #cccccc;
}
.base_bg{
    background-color: #f5f5f5;
}
.grey_bg{
    background-color: var(--anoter_bg_color);
}
.orange_bg{
    background-color: var(--primari-color);
}


p._light{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255,255,255,.8);
    margin-bottom: 33px;
}

/*--------------------------------------------------------------------------------------------*/
.header{
    background-color: #000000;
}
.nav{
    background-image: url('../image/city-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.nav__bg{
    background-color: rgba(0,0,0,.52);
}
.social_media{
    box-shadow: 0 1px 3px rgba(0,0,0,.38);
    position: relative;
}
.social_media .container{
    padding: 18px 0;
}
.social_media__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social_media__h3{
    margin-bottom: 3px;
}
.social_media__icon{
    font-size: 48px;
}
.benefit__image_wrap{
    display: inline-flex;
    border: 2px solid #ff8b38;
    border-radius: 50px;
    width: 68px;
    height: 68px;
    margin-bottom: 22px;
    align-items: center;
    justify-content: center;

}
.benefit__h3{
    margin-bottom: 22px;
}
.benefit i{
    color: #ff8b38;
    font-size: 32px;
}
.pricing .row{
    align-items: flex-end;
}
.pricing .cell{
    width: 384px;
}
.pricing__border{
    border-bottom: 1px solid #f5f5f5;
}
.pricing__height13{
    height: 5px;
}
.pricing_height2 .pricing__open_sans__p{
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 9px 0;
}
.pricing__white_bg{
    padding: 11px 0;
    background-color: var(--white-color);
    text-transform: uppercase;
}
p.pricing__open_sans__p{
    padding: 16px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}
p.pricing__number__p{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 85px;
    color: #ffffff;
}
p.pricing__period__p{
    padding: 16px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    color: rgba(255,255,255,.5);

}
p.pricing__worth_p{

}
span.pricing__dolor{
    font-family: 'Raleway',sans-serif;
    font-size: 34px;
    font-weight: 700;
}
.reviews__border{
    position: relative;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    background-color: #f5f5f5;
    width: 273px;
    height: 132px;
    text-align: left;
}
.reviews__border__text{
    padding: 18px 10px;
    font-style: italic;
}
.triangle_down {
    position: absolute;
    left: 8%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #f5f5f5 ;
}
.reviews__img{
    position: absolute;
    bottom: -74%;
    width: 70px;
    height: 70px;
    background-image: url('../image/face.jpg');
    background-repeat: no-repeat;
}
.reviews__border__p{
    position: absolute;
    left: 32%;
    bottom: -48%;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}

.download .container{
    padding: 68px 0;
}
.download__bg{
    background-color: rgba(0,0,0,.4);
}
.download{
    background-image: url('../image/city.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact .container{
    padding: 101px 0 86px;
}
.contact__row{
    margin-bottom: 45px;
}
.contact__cell{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.contact__field{
    width: 100%;
}
.footer{
    background-color: #000000;
}
.footer .container{
    padding: 37px 0 13px;
}
.footer__icon{
    font-size: 24px;

    margin: 0 12px;
}
.footer__title{
    font-size: 12px;
    color: rgba(255,255,255,.5);
    margin-top: 7px;

}

/*--------------------------------- Social Media---------------------------------------*/
/*.social_media{*/
/*    height: 105px;*/
/*    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);*/
/*}*/
/*.social_media_content{*/
/*    display:flex;*/
/*    flex-direction: row;*/
/*}*/
/*h4.social_media__h4{*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*    color: #000000;*/
/*    text-transform: capitalize;*/
/*    padding-top: 17px;*/
/*}*/
/*.social_media__p{*/
/*    padding-top: 4px;*/
/*}*/
/*.social_media_h4_p{*/
/*    padding-left: 13px;*/
/*}*/
/*.social_media_icon{*/
/*    color: #cccccc;*/
/*    font-size: 46px;*/
/*    justify-content: center;*/
/*    margin: 29px auto 0;*/
/*}*/
/*svg.facebook{*/
/*    margin-left: 77px;*/
/*}*/
